html, body {
	background: white;
	color: #666;
	font-family: 'Manrope', sans-serif;
	font-size: 1em;
	box-sizing: border-box;
}

h1 {
	font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 2rem;
	line-height: 1.5em;
}